/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.info {
  width: 500px;
  display: block;
  text-align: right;
}

.info_margin {
  margin: 0 auto;
}

.info__img {
  width: 100%;
}

.info__link_font {
  font-family: fantasy, cursive;
}

.main-page {
  width: 500px;
  display: block;
  margin: 0 auto 0;
}

.main-page__padding {
  padding: 20px 0 10px;
}

.input-text {
  font-family: Lato, sans-serif;
  height: 21px;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  outline: none;
  color: #888;
}

.input-text:focus {
  color: #333;
}

.input-text_width,
.checkbox__label_width {
  width: 83%;
}

/* Heading */
.heading {
  font-weight: 700;
  font-size: 15px;
  color: #333;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.button {
  font-family: Lato, sans-serif;
  width: 60px;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}

.button:hover {
  color: #3a3a3a;
}

.button__delete {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button__delete:hover {
  transform: rotateZ(0);
}

.todo-block__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.checkbox__input {
  margin: 0 10px;
}

/* Task list */
.checkbox__label {
  display: inline-block;
  font-size: 18px;
  padding-left: 10px;
  box-sizing: border-box;
  flex-grow: 1;
}

/* Completed */
.checkbox__label_cross {
  text-decoration: line-through;
  color: #888;
}

.todo-block__item .input-text {
  display: none;
}

.todo-block__item.edit-mode .input-text {
  display: inline-block;
  width: 65%;
}

.edit-mode .checkbox__label {
  display: none;
}

@media (max-width: 768px) {

  .info {
    text-align: center;
  }
}
